<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rumbl!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="row">
      <header class="header col-md-12">
        <div class="row">
          <div class="logo-container col-md-6">
            <a href="<%= page_path(@conn, :index) %>" class="logo">
            </a>
          </div>
          <div class="nav-container col-md-6">
            <ul class="list-inline text-right nav nav-pills">
              <%= if @current_user do %>
                <li role="presentation">
                  <%= link @current_user.username, to: page_path(@conn, :index), class: "" %>
                </li>
                <li class="dropdown" role="presentation">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Feeds<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <%= link "Manage Feeds", to: feed_path(@conn, :index), class: "" %>
                    </li>
                    <li>
                      <%= link "Latest News", to: feed_path(@conn, :list), class: "" %>
                    </li>
                  </ul>
                </li>
                <li class="dropdown" role="presentation">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Videos<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <%= link "My Videos", to: video_path(@conn, :index), class: "" %>
                    </li>
                    <li>
                      <%= link "User Videos", to: video_path(@conn, :list), class: "" %>
                    </li>
                  </ul>
                </li>
                <li role="presentation">
                  <%= link "Log out", to: session_path(@conn, :delete, @current_user), method: "delete", class: "btn btn-danger" %>
                </li>
              <% else %>
                <li><%= link "Register", to: user_path(@conn, :new), class: "btn btn-success" %></li>
                <li><%= link "Log In", to: session_path(@conn, :new), class: "btn btn-primary" %></li>
              <% end %>
            </ol>
          </div>
        </div>
      </header>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= if get_flash(@conn, :info) do %>
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <% end %>
        <%= if get_flash(@conn, :error) do %>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <% end %>
        <main role="main">
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div>
    </div>

    <script>window.userToken = "<%= assigns[:user_token] %>"</script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>

    </script>
  </body>
</html>
